{% extends "sfapp/base.html" %}
{% load staticfiles %}

{% block title %}The News Without Transparency | Sunlight Foundation{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "fancybox/jquery.fancybox.css" %}" media="screen">
    <style>
        h1 {
            background: url({% static "img/logo_newsNoTransparency.png" %}) top left no-repeat;
            height: 108px;
            margin-right: 30px;
            text-indent: -9999px;
            width: 294px;
        }
        h2 { font-size: 150%; line-height: 120%; margin-bottom: 0.5em; text-transform: capitalize;}
        p.intro { font-size: 110%; line-height: 22px; margin-top: 20px; width: 600px;}
        .alert { background-color: #d9dcc1; font-size: 120%; }
        ul.posts { list-style: none; margin: 0; padding: 0; }
        ul.posts li {
            float: left;
            padding: 25px;
            width: 260px;
        }
        ul.posts li:hover { background-color: rgba(255, 255, 255, 0.4); }
        ul.posts img {
            border: 1px solid #d4cfc6;
            float: left;
            height: 160px;
            margin-right: 1em;
            width: 120px;
        }
        .posts li h2 { margin-top: 20px;}
        ul.posts a:hover h2 { text-decoration: underline; }
        ul.posts a:hover { text-decoration: none; }
        .scribd-embed { background-color: #ddd; float: left; margin-right: 2em; width: 400px; height: 400px; }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{% static "fancybox/jquery.fancybox.js" %}"></script>
    <script>
        $(document).ready(function() {
            $('.fancybox').fancybox({autoSize: false, height: 500, width: 700});
        });
    </script>
    <script src="http://cdn.gigya.com/js/socialize.js?apiKey=3_BLRB_2LlQJZDUW1wb9_ZOps-sOnnzA_e6xxNSwJBBGoB-SavmPAKHkaVVZPE5Kx8"></script>
    <script>
        $(document).ready(function() {

            var ua = new gigya.socialize.UserAction();

            ua.setLinkBack("http://redacted.sunlightfoundation.com/");
            ua.setTitle("The News Without Transparency");
            ua.setDescription("Giving you a glimpse of the news in a world without public access to government information.");

            var params = {
                containerID: 'share-buttons',
                layout: 'horizontal',
                shareButtons: 'facebook,twitter',
                shortURLs: 'never',
                showCounts: 'top',
                userAction: ua
            };

            gigya.socialize.showShareBarUI(params);

        });
    </script>
{% endblock %}

{% block container %}
    <div class="row">
        <div class="span10 module ">
            <h1 class="withTip textReplace">The News Without Transparency</h1>
            <p class="intro">Giving you a glimpse of the news in a world without public access to government information.</p>
        </div>
        <div class="span2">
            <div id="share-buttons"></div>
        </div>
    </div>
    <ul class="posts">
        {% for post in posts %}
            <li>
                <a class="fancybox fancybox.ajax" href="{% url post_detail post.pk %}">
                    <img src="{{ post.thumbnail.url }}">
                    <h2 class="withTip">{{ post.title }}</h2>
                    <span class="tip">{{ post.date_posted|date:"F j, Y" }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
